cppimport==22.8.2
dm_haiku==0.0.9
flax==0.7.5
jax==0.4.23
jaxlib==0.4.23
matplotlib==3.1.0
numdifftools==0.9.41
numpy==1.26.2
optax==0.1.7
pysindy==1.7.5
PyYAML==6.0.1
scipy==1.11.4
setuptools>=69.1.1
sympy==1.12
tikzplotlib==0.10.1
torch==2.1.0
tqdm==4.66.1
wheel>=0.42.0
